@page "/Infraestructura"
@using Space.Web.Pages.Infraestructura.Main;
@using System.ComponentModel
@using AntDesign.TableModels
@using System.ComponentModel.DataAnnotations
@using Space.ServiceConsumer;
@inject NavigationManager NavigationManager;
<Spin Tip="Cargando..." Spinning=@_loading>
    <Layout>
        <Header style="background-color:white">


            <GridRow>
                <GridCol Span="12">

                    <Title Level="2">Infraestructura</Title>
                </GridCol>
                <GridCol Span="12">
                    <Button Type="@ButtonType.Primary"
                            Icon="@IconType.Outline.Download"
                            Size="@_size" OnClick="IrAlSave"
                            style="float:right">
                        Nuevo
                    </Button>

                </GridCol>
            </GridRow>
        </Header>
        <Content>

            <Table TItem="InfraestructuraMainModel"
                   DataSource="@Infrastructura_Lista"
                   ScrollX="1300"
                   ScrollY="60vh"
                   PageSize="20"
                   Size="TableSize.Small"
                   class="mi-clase-de-margen"
                   PaginationPosition="bottomRight">
                <PropertyColumn Title="N" Property="@(c=>c.Item)" Width="50" />
                <PropertyColumn Title="C. Sistema" Property="@(c=>c.CodigoSistema)" Width="120" />
                <PropertyColumn Title="C. Interno" Property="@(c=>c.CodigoInterno)" Width="120" />
                <PropertyColumn Title="Sucursal" Property="@(c=>c.Sucursal)" Width="200" />
                <PropertyColumn Title="Piso" Property="@(c=>c.Piso)" Width="80" />
                <PropertyColumn Title="Tipo" Property="@(c=>c.TipoInfraestructura)" Width="120" />
                <PropertyColumn Title="Clasificación" Property="@(c=>c.Clasificacion)" Width="120" />
                <PropertyColumn Title="Dimension" Property="@(c=>c.InfraestructuraDimension)" Width="150" />
                <PropertyColumn Title="Aforo" Property="@(c=>c.Aforo)" Width="80" />
                <PropertyColumn Title="Descripcion" Property="@(c=>c.Descripcion)" Width="320" />
                <PropertyColumn Title="Usuario" Property="@(c=>c.CodUsuario)" Width="100" />
                <PropertyColumn Title="F. Registro" Property="@(c=>c.FechaRegistro)" Width="200" />
                <ActionColumn Title="Action" Width="100" Fixed="right">
                    <Space>
                        <SpaceItem>
                            <Button Type="@ButtonType.Dashed"
                                    Shape="@ButtonShape.Circle"
                                    OnClick="()=>Method_Editar(context.InfraestructuraId)"
                                    Icon="@IconType.Outline.Edit" />
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </Table>

        </Content>
        @*<Footer>Footer</Footer>*@
    </Layout>


</Spin>

<style>

    .mi-clase-de-margen {
        margin-left: 40px; /* O ajusta el valor según tus necesidades */
        margin-right: 40px;
    }
</style>